@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

/*
    Background Gradient
    Global properties
*/
html
{
    scroll-behavior: smooth;
}

body
{
    background: #494b64;
    background: linear-gradient(90deg, #494b64, #696c7d);

    color: #494b64;
    font-family: 'Poppins', sans-serif;
}

h1,h2,h3 > a
{
    text-decoration: none;
}
a:visited
{
    color: #587cf2;
}
a:hover
{
    color: #d9735d;
}

/* Profile Blocks */
#blockContainer
{
    display: flex;
}

.infoBlock
{
    margin: 3% 1% 3% 1%;
    flex: 50%;
    /* gap: 3em; */

    border: 5px solid #d9735d;
    border-radius: 10px;

    background-color: #f0d8c0;
    box-shadow: 10px 10px 3px #282a3a;
}

#socials
{
    min-width: 15em;
    max-width: 15%;
}

.socialItem
{
    background: #FFFFFF;

    margin: 10px auto;
    width: 90%;
    height: 3em;

    display: table;
    text-align: center;

    border: solid #f19975 2px;
    border-radius: 10px;
    padding: 0px 5px 0 5px;
}

.socialItem > h3
{
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}

.imageHolder
{
    display: table-cell;
    vertical-align: middle;
    width: 50px;
    /* height: 100%; */
}

.imageHolder > img
{
    padding-top: 15%;
    width: 50%;
    /* padding-top: 45%;
    vertical-align: center; */
}

#aboutme
{
    min-width: 30em;
    max-width: 70%;
}

section
{
    border: solid #f19975 2px;
    border-radius: 10px;

    background: #FFFFFF;

    width: 90%;
    margin: 2% auto;
}
section > h3
{
    text-decoration: underline;
    text-align: center;
}
section > p
{
    border: none;
    text-align: justify;
}

#projects
{
    min-width: 15em;
    max-width: 15%;
}

h2, p
{
    background: #FFFFFF;

    margin: 10px auto;
    min-width: 130px;
    max-width: 160px;
    text-align: center;

    border: solid #f19975 2px;
    border-radius: 10px;
}

p
{
    text-align: justify;
    max-width: 95%;
}

h3
{
    font-weight: normal;
}


#avatar
{
    min-width: 150px;
    max-width: 150px;

    /* Center image */
    margin: auto;
    display: block;
    margin-top: 10px;

    border: 5px solid #d9735d;
    border-radius: 50%;
}

#username
{
    min-width: 5em;
    max-width: 60%;
    margin-bottom: 2em;
    padding-left: 15px;
    padding-right: 15px;
}

/* Prettier mouseover text for images */
.imageWrapper
{
    position: relative;
}

.imageWrapped
{
    position: relative;
}

.imageText
{
    border: none;
    border-radius: 5px;

    position: absolute;
    inset: 0;
    background: rgba(256, 256, 256, 0.72);

    margin-left: 60%;
    margin-top: 45%;
    padding-top: 8px;

    width: 15rem;
    height: 2rem;
    text-align: center;

    visibility: hidden;
    opacity: 0;
    
    transition: opacity .5s, visibility .2s;
}

.imageWrapper:hover .imageText
{
    visibility: visible;
    opacity: 1;
}

/* Shorthand styles for <span> tags */
.bold {font-weight: bold;}


/* Used to animate objects */
.hidden
{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show
{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition-delay: calc(100ms * var(--order));
}